.sidebarChat{
    display: flex;
    padding:  20px;
    cursor: pointer;
    align-items: center;
    border-bottom: 1px solid bottom #f6f6f6;
}

.sidebarChat:hover{

    background-color:#ebebeb;

}

.sidebarChat__info > h2 {

    font-size:16px;
    margin-bottom: 80px;

}

.sidebarChat__info{
    margin-left: 15px;
} 

a{
    text-decoration: none !important;
    color: black;
}